/**
 * Admin Specific Styles
 */

#WPAward_Grammar {
	width: 100%;
	margin: 15px 0px;
}

#WPAward_Apply_Award {
	margin: 15px 0px;
}

.WPAward_Actions {
	text-align: right;
}
/* End Admin Specific Styles */