/**
 * Admin Specific Styles
 */

#WPAward_Grammar {
	width: 100%;
	margin: 15px 0px;
}

#WPAward_User_Apply {
	margin: 15px 0px;
}

.WPAward_Actions {
	display: flex;
	/*text-align: right;*/
}

.WPAward_Actions input[type="submit"] {
	flex: 0 1 auto;
}

.WPAward_Actions .give-award-checkbox {
	display: flex;
	padding-right: 15px;
	align-items: center;
}

.WPAward_Actions .give-award-checkbox label {
	flex: 0 1 80%;
}

.WPAward_Actions .give-award-checkbox input {
	flex: 0 1 auto;
}

/* End Admin Specific Styles */